@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 240, 253, 250;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F0FDFA; /* Dette er den lyse "Teal" bakgrunnsfargen */
}

/* Dette gjør at overskrifter får den fine, runde fonten */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-fredoka), sans-serif;
}